/* Shared
–––––––––––––––––––––––––––––––––––––––––––––––––– */
.button {
  border-radius: 100px;
}

.picker__list-item--disabled {
  display: none !important;
}

/* Sections
–––––––––––––––––––––––––––––––––––––––––––––––––– */
.section {
  /* padding: 8rem 0 7rem; */
  padding: 4rem 0 19rem;
  text-align: center;
}
.section-heading,
.section-description {
  margin-bottom: 1.2rem;
}

/* BOOTSTRAP TABLE FORMAT
_____________________________________ */
td {
  text-align: left;
}

/* Bigger than 550 */
@media (min-width: 550px) {
  .section {
    /* padding: 12rem 0 11rem; */
    padding: 4rem 0 19rem;
  }
}

/* Bigger than 750 */
@media (min-width: 750px) {
  .section {
    /* padding: 14rem 0 15rem; */
    padding: 4rem 0 19rem;
  }
}

/* Bigger than 1000 */
@media (min-width: 1000px) {
  .section {
    /* padding: 20rem 0 19rem; */
    padding: 4rem 0 19rem;
  }
}

body {
  padding-top: 50px;
}
.starter-template {
  padding: 40px 15px;
  text-align: center;
}

/* NEW FORM STYLING */
*, *:before, *:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

body {
  font-family: 'Nunito', sans-serif;
  color: #384047;
}

form {
  max-width: 300px;
  margin: 10px auto;
  padding: 10px 20px;
  background: #f4f7f8;
  border-radius: 8px;
}

h1 {
  margin: 0 0 30px 0;
  text-align: center;
}

input[type="text"],
input[type="password"],
input[type="date"],
input[type="datetime"],
input[type="email"],
input[type="number"],
input[type="search"],
input[type="tel"],
input[type="time"],
input[type="url"],
textarea,
select {
  background: rgba(255,255,255,0.1);
  border: none;
  font-size: 16px;
  height: auto;
  margin: 0;
  outline: 0;
  padding: 10px; /* changed from 15px */
  width: 100%;
  background-color: #e8eeef;
  color: #8a97a0;
  box-shadow: 0 1px 0 rgba(0,0,0,0.03) inset;
  margin-bottom: 20px; /* changed from 30px */
}

input[type="radio"],
input[type="checkbox"] {
  margin: 0 4px 8px 0;
}

select {
  padding: 6px;
  height: 32px;
  border-radius: 2px;
}

button {
  padding: 19px 39px 18px 39px;
  color: #FFF;
  background-color: #4bc970;
  font-size: 18px;
  text-align: center;
  font-style: normal;
  border-radius: 5px;
  width: 100%;
  border: 1px solid #3ac162;
  border-width: 1px 1px 3px;
  box-shadow: 0 -1px 0 rgba(255,255,255,0.1) inset;
  margin-bottom: 10px;
}

fieldset {
  margin-bottom: 10px; /* changed from 30 */
  border: none;
}

legend {
  font-size: 1.4em;
  margin-bottom: 10px;
  padding-bottom:10px; /* self added */
}

label {
  display: block;
  margin-bottom: 8px;
}

label.light {
  font-weight: 300;
  display: inline;
  padding-right: 15px; /* self added */
}

.number {
  background-color: #5fcf80;
  color: #fff;
  height: 30px;
  width: 30px;
  display: inline-block;
  font-size: 0.8em;
  margin-right: 4px;
  line-height: 30px;
  text-align: center;
  text-shadow: 0 1px 0 rgba(255,255,255,0.2);
  border-radius: 100%;
}


#date_input_label {
/*  padding-top: 15px !important;
*/}

#temppad {
  padding-top: 30px;
}

 #toggle {
    width: 100px;
    height: 100px;
    background: black;
  }

div#loading_text {
  text-align: center;
  padding-bottom: 10px;
}

img#loading_spinner{
  margin-left: auto;
  margin-right: auto;
  display:block;
}

/* Date picker */
.ui-datepicker{
  width: 100% !important;
}

.ui-datepicker-header {
  background: #e8eeef !important;
  border: none !important;
}

.ui-corner-all{
  border-bottom-right-radius: 0px !important;
  border-bottom-left-radius: 0px !important;
  border-top-right-radius: 0px !important;
  border-top-left-radius: 0px !important;
}

.ui-widget-content {
  border: none ! important;
}

/* Time Picker */
.ui-timepicker-table {
  width: 100% !important;
}

.ui-timepicker-table td a {
  width: 99% !important;
  text-align: center !important;
}

.ui-timepicker-table table {
  width: 100% !important;
  margin: 5px 0 5px 0 !important;
}

.ui-timepicker-table th.periods {
  text-align: center !important;
}

.ui-timepicker-table .ui-timepicker-title {
  background: #e8eeef !important;
  border: none !important;
  margin: 2px !important;
}

.ui-state-disabled, .ui-widget-content .ui-state-disabled, .ui-widget-header .ui-state-disabled {
/*  width: 100% !important;
  text-align: center;
*/
}

/* Modify search CSS */
#modify_search {
  max-width: 100%;
  height: 225px;
  overflow: scroll;
}

/* Results Panel */
.my_update_panel {
  margin-top: 30px;
}

#no_results {
  font-size: 1.1em;
  text-align: center;
}

@media screen and (min-width: 480px) {

  form {
    max-width: 480px;
  }

}
